/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #333;
    padding: 10px 0;
    color: #fff;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.filters {
    text-align: center;
    margin: 20px 0;
}

.filter-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #777;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-category {
    margin-bottom: 20px;
}

.product-item {
    background: #222;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-item span {
    display: block;
    margin-bottom: 10px;
}

.btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #777;
}

footer {
    background: #333;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}
